@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lexand';
    src: url('./fonts/Lexend-Regular.ttf');
}
@font-face {
    font-family: 'Lexand500';
    src: url('./fonts/Lexend-Medium.ttf');
}
@font-face {
    font-family: 'Lexand600';
    src: url('./fonts/Lexend-SemiBold.ttf');
}
@font-face {
    font-family: 'Lexand700';
    src: url('./fonts/Lexend-Bold.ttf');
}

.hero {
    background-repeat: no-repeat !important;
}